# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# dependencies
/node_modules

# dotenv environment variables
.env
server/.env
client/.env

# logs
logs
*.log

# OS files
.DS_Store

# optional: uploaded files if not needed in repo
/uploads
